@import '../../../../src/styles/fonts.scss';
@import '../../../../src/styles/colors.scss';
@import '../../../../src/styles/sizes.scss';
@import '../../../../src/styles/responsive.scss';
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: $footerHeight;
  background-color: $fifth-color;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  &__content,
  &__contact {
    font-family: $font-roboto;
    color: $third-color;
    font-size: $paragraph-size;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
