@import '../../../../styles/colors.scss';

.pokemon-container {
  max-width: 1200px;
  height: 400px;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;

  border: black 2px solid;
  margin: 0 auto;
}
.pokemon__img {
  width: 50px;
  height: 60px;
}
.pokemon__list-wrapper {
  // display: flex;
  // flex-direction: row;
  // justify-content: left;
  // align-items: center;
  // flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: 1fr;
  border: 2px solid red;
}
.pokemon__list-item {
  border: 2px solid $secondary-color;
  margin: 5px;
  border-radius: 2px;
  padding: 4px;
  text-align: center;
}
.pokemon-action {
  transform: translateY(200%);
}
.pokemon__search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  .pokemon__input {
    width: 200px;
    border: 0;
    border-bottom: 1px solid black;
    margin: 5px 0;
    outline: none;
  }
}

.pokemon__btn {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 0;
  background-color: $fifth-color;
  color: $third-color;
}
.print-container {
  border: 2px solid black;
  max-width: 1200px;
  height: 400px;
  margin: 0 auto;
  display: grid;
  place-content: center;
}
.error-message {
  text-align: center;
  margin-top: 20px;
}
