<div class="pokemon-container">
    <div class="pokemon__received">
        <h2 *ngIf="received">Pokemons guardados</h2>
        <div class="pokemon__list-wrapper">
            <div class="pokemon__list-item" *ngFor="let pokemon of receivedPokemonList">
                <div class="pokemon__name">{{ pokemon.name | uppercase}}</div>
                <div class="pokemon__img-container"><img class="pokemon__img" src="{{pokemon.img}}"
                        alt="{{pokemon.name}}"></div>
                <div class="pokemon__height">Altura: {{ pokemon.height }}</div>
                <div class="pokemon__weight">Peso: {{ pokemon.weight }}</div>
            </div>
        </div>
        <div *ngIf="limitError!==''" class="error-message">{{limitError | uppercase}}</div>
    </div>
    <div class="pokemon-action">
        <div class="pokemon__search pokemon__search--byName">
            <div><input class="pokemon__input" type="text" #pokeSearch id="pokeSearch" placeholder="Nombre del pokemon">
            </div>
            <div><button class="pokemon__btn" (click)="sendPokeName(pokeSearch.value)">Busca un pokemon</button></div>
        </div>

        <div class="pokemon__search pokemon__search--random" #random>
            <button class="pokemon__btn" (click)="randomId()">Pokemon aleatorio</button>
        </div>
    </div>
</div>
<div class="print-container">
    <app-pokemon-print [pokemonName]="pokemonName" [pokemonId]="pokemonId" (emitPokemon)="setPokemon($event)">
    </app-pokemon-print>
</div>