@import '../../../../../styles/colors.scss';
.pokemonInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pokemonInfo-img {
  width: 100px;
}
.save__btn {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 0;
  background-color: $fifth-color;
  color: $third-color;
}
