<!--<div *ngIf="pokemonToSon">
    <h1>{{ pokemonToSon.name }}</h1>
    <img src="{{pokemonToSon.img}}" alt="{{pokemonToSon.name}}">
    <p>Altura: {{ pokemonToSon.height }}</p>
    <p>Peso: {{ pokemonToSon.weight }}</p>
</div>-->
<div *ngIf="pokemonInfo" class="pokemonInfo">
    <h1>{{ pokemonInfo.name | uppercase }}</h1>
    <img class="pokemonInfo-img" src="{{pokemonInfo.img}}" alt="{{pokemonInfo.name}}">
    <p>Altura: {{ pokemonInfo.height }}</p>
    <p>Peso: {{ pokemonInfo.weight }}</p>
    <button [(ngModel)]="pokemon" (click)=sendPokemon() class="save__btn">Guardar Pokemon</button>
</div>