<div class="registration">
    <form (ngSubmit)="onSubmit()" [formGroup]="registrationForm">
        <fieldset>
            <label for="name">Nombre</label>
            <input type="text" formControlName="name">
            <div *ngIf="registrationForm.get('name')?.invalid && isSubmitted">
                <p>Name ERROR</p>
            </div>
        </fieldset>
        <fieldset>
            <label for="nickname">Nickname</label>
            <input type="text" id="nickname" formControlName="nickname">
            <div *ngIf="registrationForm.get('nickname')?.invalid && isSubmitted">
                <p>Nickname ERROR</p>
            </div>
        </fieldset>
        <fieldset>
            <label for="email">Email</label>
            <input type="text" id="email" formControlName="email">
            <input type="text" id="confirmEmail" formControlName="confirmEmail">
            <div *ngIf="registrationForm.get('email')?.invalid && isSubmitted">
                <p>Email ERROR</p>
            </div>
        </fieldset>
        <fieldset>
            <label for="password">Password</label>
            <input type="text" id="password" formControlName="password">
            <input type="text" id="confirmPassword" formControlName="confirmPassword">
            <div *ngIf="registrationForm.get('password')?.invalid && isSubmitted">
                <p>Password ERROR</p>
            </div>
        </fieldset>
        <button type="submit" [disabled]="registrationForm.invalid">Regístrame</button>
    </form>
</div>