<nav class="navbar">
    <div class="navbar__link-box">
        <a routerLink='/home'>Home</a>
        <a routerLink='/search'>Search Pokemons</a>
        <a routerLink='/pokemons'>Pokemons</a>
    </div>
</nav>