@import '../../../../../src/styles/fonts.scss';
@import '../../../../../src/styles/colors.scss';
@import '../../../../../src/styles/sizes.scss';
@import '../../../../../src/styles/responsive.scss';
.navbar {
  height: $header_height;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $fifth-color;
  &__link-box {
    font-family: $font-playfair-display;
    color: $fourth-color;
    font-size: $linkbox-size;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  a {
    text-decoration: none;
    color: $third-color;
    font-size: $linkbox-size;
  }
}
